body {
	margin: 0;
}

#canvas {
	width: 600px;
	height: 600px;
	background-color: Black;

}

#toolbar {
	width: 600px;
	height: 200px;
	border: 2px dashed Black;
	margin-top: 20px;
	padding: 5px;
	/*box-sizing: border-box;*/
}

.instrument {
	width: 30px;
	height: 30px;
	margin: 1px 5px 1px 5px;
}

#generate.instrument {
	width: 60px;	
	background: White;
	border: 1px dashed Black;
}

#brick.instrument{	
	background: Red;	
}

#forest.instrument{	
	background: Green;	
}

#ice.instrument{	
	background: Blue;	
}

#land.instrument{	
	background: Black;	
}

#result {
	width: 800px;
	height: 300px;
	overflow: scroll;
}